<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>storeroom</ion-title>
    <ion-icon routerLink="/home" slot="end" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search by name" (ionInput)="filterInventory()"></ion-searchbar>

  <ion-item>
    <ion-label>Filter by Category</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterInventory()">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="Cleaning Detergents">Cleaning Detergents</ion-select-option>
      <ion-select-option value="Plastics">Plastics</ion-select-option>
      <ion-select-option value="Cleaning Equipment">Cleaning Equipment</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Filter by Quantity</ion-label>
    <ion-select [(ngModel)]="selectedQuantityRange" (ionChange)="filterInventory()">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="tooLow">Too Low</ion-select-option>
      <ion-select-option value="runningLow">Running Low</ion-select-option>
      <ion-select-option value="middle">Middle</ion-select-option>
      <ion-select-option value="full">Full</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-segment value="storeroom">
    <ion-segment-button value="custom" routerLink="/home">
      <ion-label>Menu</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" routerLink="/view">
      <ion-label>Store</ion-label>
    </ion-segment-button>
    <ion-segment-button value="storeroom" routerLink="/storeroom">
      <ion-label>StoreRoom</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div class="inventory-item" *ngFor="let item of filteredInventory">
    <h2>{{ item.name }}</h2>
    <p>Category: {{ item.category }}</p>
    <p>Description: {{ item.description }}</p>
    <p>Quantity: {{ item.quantity }}</p>
    <p>Barcode: {{ item.barcode }}</p>
   
    <img class="thumbnail" [src]="item.imageUrl" alt="{{ item.name }} Image">
  </div>

</ion-content>
