<ion-header>
  <ion-toolbar>
    <ion-segment color="success" value="all">
      <ion-segment-button value="all">
        <ion-label>Analytics</ion-label>
      </ion-segment-button>
      <ion-segment-button routerLink="/delivery" value="favorites">
        <ion-label>Invoice Slip</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="scroll-container">
    <p class="pp">Store Inventory</p>
    <div class="chart-container">
      
      <br>
      <canvas id="quantityByCategoryChart"></canvas>
    </div>
 <br>
 <br>
 <p class="pp">StoreRoom Inventory</p>
    <div class="chart-container">
     
      <br>
      <canvas id="quantityByCategoryStorommChart"></canvas>
    </div>
    <br>
    <br>
    
      <p class="pp">Store and Storeroom Category quantities</p>
    
      <canvas id="categoryComparisonChart"></canvas>


     <br>
     <br>
<p class="pp">Total quantities from both store and storeroom</p>
<canvas id="totalQuantitiesChart"></canvas>
  </div>
</ion-content>
