.custom-file-input {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  /* Style the camera icon */
  .camera-icon {
    vertical-align: middle;
    margin-right: 10px; /* Adjust as needed */
  }
  ion-toolbar{
    text-align: center;
  }